@media only screen and (min-width:40em)  {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-template:  1fr 1fr 1fr;
    }
    header {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
    
    
  
    .hero {
        width: 100%;
        height: 60vh;
        object-fit: cover;
       
    }
    
    .container{
        display: grid;
        grid-column: 1/ 7;
    }
  
    h1{
        display: flex;
        grid-gap: 1rem;
        padding: 20px;
        justify-content: center;
    }
    
    
    }