@media only screen and (min-width:40em)  {

    *{
        padding: 1px;
        margin: 1px;
    }
    
    body{
        padding: 5px;
        margin: 5px;
    }
    header{
        background: #3b1961;
        padding: .5rem;
        
        text-align:center;
        grid-column: 1 / 7;
        color: white;
    }
    
    h1{
        font-family: Nunito, sans-serif;
    }
    
    h3{
       
        margin-top: 40px;
    }
    
    form{
        background-color: rgb(178, 168, 201);
        
        padding: 10px;
    }
    main{
        font-family: Nunito, sans-serif;
       
    }
    
    
    select{
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: .9rem;
        width: 100%;
        max-width: 400%;
        color: #3b1961;
    }
    select option{
        color: #3b1961;
    }
    
    
    .stars {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 160px;
        flex-direction: row-reverse;
        margin: 40px auto;
        position: absolute;
        top: 220px;
        
        
    }
    
    .stars input{
        display: none;
    }
    
    .stars > label{
        width: 30px;
        height: 30px;
        font-family: Arial;
        font-size: 30px;
        transition: 0.2s ease;
        color: orange;
    }
    
    .stars label:hover{
        color: #ff69b4;
        transition: 0.2s ease;
    }
    
    .stars label:active::before{
       transform: scale(1.1);
    }
    .stars label::before{
        content: '\2606';
        position: absolute;
        top: 0px;
        line-height: 26px;
     }
    
    
     .stars input:checked ~ label::before{
        content: '\2605';
     }
    @-moz-document url-prefix() {
     .stars input:checked ~ label::before{
         font-size: 36px;
         line-height: 21px;
     } 
     }
    
    input[type="radio"]{
        display: none;
        position: relative;
        width: 25px;
        height: 25px;
    }
    
    
    
    #thedate{
        display: block;
        height: 30px;
        transform: translateX(-13px);
        font-size: 1rem;
        width: 100%;
        max-width: 105%;
    }
    
    
    .mark label{
        display: block;
        
    }
    .mark input[type="checkbox"]{
        width: 15px;
        height: 15px;
    }
    
    textarea{
        width: 425px;
        height: 165px;
        
    }
    
    #TheName{
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        width: 1000%;
        max-width: 420px;
        transform: translateX(-10px);
        font-size: 35px;
    
    }
    
    .buttom{
        display: grid;
        justify-content: center;
       
    }
    
    /* Sumit Button */
    .buttom input[type="submit"]{
        
        display: block;
        padding-top: .5rem;
        padding-bottom: .5rem;
        width: 900%;
        max-width: 430px;
        transform: translateX(-115px);
        font-size: 35px;
        
    }
    
    
    label{
        display: block;
        justify-content: center;
        padding: 10px;
    }
    
   
    
    footer {
        font-family: Nunito, sans-serif;
        background: #3b1961;
        padding: .5em;
        text-align:center;
        grid-column: 1 / 7;
        color: white;
      }
    
    }