@media only screen and (min-width:50em)  {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-template:  1fr 1fr 1fr;
    }
    header {
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
    
    
    .left h2{
        font-size: 25px;
        background-color: rgba(16, 122, 39, 0.836);
        color: white;
        padding: 15px;
        text-align: left;
        margin-bottom: 10px;
        transform: translateX(-95px);
        display: flex;
        justify-content: left;
        
    }

    .right h2{
        font-size: 25px;
        background-color: rgba(16, 122, 39, 0.836);
        color: white;
        padding: 15px;
        text-align: left;
        margin-bottom: 10px;
        transform: translateX(-30px);
        display: flex;
        justify-content: left;
        
    }
    .hero {
        display: block;
        width: 100%;
        height: 60vh;
        object-fit: cover;
       
    }
    
    .container{
        display: grid;
        grid-column: 1/ 7;
    }
    .left{
        
        position: absolute;
        height: 180px;
        background-color: #ffffffb2;
        top: 30%;
        left: 20px;
        width: 200px;
        text-align: center;
        padding: 50px;

    }
 

    .right{
        border: 1px solid #ddd;
        position: absolute;
        height: 150px;
        background-color: #ffffffb2;
        top: 50%;
        right: 20px;
        width: 200px;
        text-align: center;
        padding: 20px;
        

    }
    .right h2::after{
        content: "⛅";
        font-size: 24px;
        margin-left: 20px;
       
        
    }
    h1{
        display: flex;
        grid-gap: 1rem;
        padding: 30px;
        justify-content: center;
    }
    
    
    }